# Debugging

## Assignment
Complete the following code cells by adding appropriate print statements, which will help identify the source of the problem. 

**Don't solve the problem, add a print statement which will help solve the problem.**

## Example
### Problem
Notice that when the cell is run, it has a *TypeError:* *can't multiply sequence by non-int of type 'str'*

In [1]:
num = input("Give me a number to square")
squared = num * num

Give me a number to square 6

TypeError: can't multiply sequence by non-int of type 'str'

### Solution
There are two solutions, the first is a simple *print()* statement and the better solution would be a *print(type())* statement.

In [2]:
num = input("Give me a number to square")
print(f"{num=}")
squared = num * num

Give me a number to square 7

num='7'

TypeError: can't multiply sequence by non-int of type 'str'

In [3]:
num = input("Give me a number to square")
print(f"{type(num)=}")
squared = num * num

Give me a number to square 8

type(num)=<class 'str'>

TypeError: can't multiply sequence by non-int of type 'str'

------------------------------------------------------

## Problems
Add a print statement to resolve the *"Show why..."*. **Do not solve the problem!**

Data Cell below must be executed for the remaining cells to execute.

In [4]:
# Data Cell for problems:
table = {
   "fruits": ["snack", "meal", "day"],
   "apple": [],
   "banana": [],
   "orange": [],
    "grape": []
}
alist = [1, 2, 3, 4]
x = 10
j = 1
k = 10
l = -1
i_multiples = []
fruit = 'kiwi'

1. Show why line 2 has an `unsupported operand type`

In [ ]:
print(type(alist))
power_of_a = alist ** 2

2. Show why line 2 has an `has no attribute 'stddev'`

In [ ]:
import statistics
print(dir(statistics))
print(statistics.stddev(alist))

3. Show why line 3 has a `list index out of range`

In [ ]:
blist = []
print(len(alist))
for i in range(5):
    blist.append(alist[i] * 4)

4. Show why every other number in *blist* is a 0.

In [ ]:
blist = []
for i in range(4):
    for j in range(2):
        print(j)
        blist.append(alist[i] * j)
print(f"{blist}")

5. The desired result is 100 divided by an integer ranging from 10 to 1. Show why the print statement isn't printing the correct results.

In [ ]:
for i in range(x, 0, -1):
    #Notice that the print statement says 100/x instead of 100/i
    print(f"{100/x}")

6. Show why *table* has a `KeyError`.

In [ ]:
print(table.keys())
table['grapes'].append(5)

7. Show why *sum* isn't adding correctly. Make sure the Data cell above has been executed properly.

In [5]:
print(sum)
for i in range(5):
    sum += x
print(f"{sum}")

<built-in function sum>

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'

8. For values of i from 0 to 4, *total* will always equal 50, however it doesn't. Add a print statement to show why.

In [6]:
for i in range(5):
    print(x)
    total += x
print(f"{total}")

10

NameError: name 'total' is not defined

9. The loop isn't executing properly, show why it isn't.

In [12]:
print(f"j={j}, k={k}, l={l}")
for i in range(j, k, l):
    print(i)
    i_multiples.append(i * l)
print(f"{i_multiples}")

j=1, k=10, l=-1
range(1, 10, -1)
[]

10. Show why *table* has a `KeyError`. *Hint: You need to know 2 things.*

In [16]:
print(table.keys())
table[fruit].append(10, 20, 40)

dict_keys(['fruits', 'apple', 'banana', 'orange', 'grape'])
['snack', 'meal', 'day']

KeyError: 'kiwi'